# True for development, False for production
DEBUG=True
APP_URL=http://localhost:8000

# Flask ENV

STRIPE_PUBLISHABLE_KEY=pk_dfkgjfjghdjskfhgjkfhjkfdshgk
STRIPE_SECRET_KEY=sk_live_kg;lkfsglkg;lsdfkglkfsdgkjdsfkjghkdjshgkjdsfhgkjdfshgkjdfshgkjfgkj


SECRET_KEY=S3cr3t_K#Key


# If DEBUG=False (production mode)
DB_ENGINE=mysql
DB_NAME=app_petwemint
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=user
DB_PASS=pass

MAIL_HOST=smtp.sendgrid.net
MAIL_USERNAME=apikey
MAIL_PASSWORD=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

